.list-group .list-group-item {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); 
  border: 0px solid var(--primary); 
  border-radius: 0.5rem; 
  padding: 0.75rem; 
  transition: transform 0.3s, box-shadow 0.3s; 
}