.gallery-con {
    column-count: 3;
    padding: 0;
}

.gallery-col {
    list-style-type: none;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 15px;
}

.gallery-col img {
    /* height: 100%; */
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.gallery-col img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery-con {
        column-count: 1;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gallery-con {
        column-count: 2;
    }
}