#contact{
  /* background-color: var(--primary); */
}
/* Custom styles for Contact component */
.custom-list-item {
  background: #ffffff70; /* Transparent white background */
  backdrop-filter: blur(5px); /* Blur effect */
  border: 1px solid var(--primary); 
  border-radius: 0.5rem; /* Rounded corners */
  padding: 0.75rem; /* Padding inside the item */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effects */
}

.custom-list-item:hover {
  transform: translateY(-0.25rem); /* Lift effect on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.custom-list-item a {
  color: var(--primary); /* Primary color for links */
  text-decoration: none; /* Remove underline */
}

.custom-list-item a:hover {
  text-decoration: underline; /* Underline on hover */
}

.contact-form{
  background-color: #ffffff56;
  backdrop-filter: blur(2px);
}