.cookie-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 380px;
  background: #ffffff41;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  font-family: Arial, sans-serif;
}



.cookie-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ffffff17;
    /* -webkit-backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cookie-icon:hover{
    box-shadow: 0px 0px 4px 0px #19875424;
}

.cookie-popup h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
    color: var(--primary-dark);
}

.cookie-popup p {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--primary-dark);
}

.cookie-buttons {
  display: flex;
  gap: 10px;
}

.cookie-buttons button {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.customise {
  background: #fff;
  color: var(--primary-dark);
}

.reject {
  background: #fff;
  color: var(--primary-dark);
}

.accept {
  background: var(--primary-dark);
  color: #fff;
  border: none;
}

.accept:hover {
  opacity: 0.85;
}

.reject:hover,
.customise:hover {
  background: #f7f7f7;
}
.form-check-input:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 0.25rem #119d6033 !important;
}

.form-check-input:checked {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
}
.cookie-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-check-label{
  cursor: pointer;
}

@media (max-width: 480px) {
  .cookie-popup {
    right: 10px;
    left: 10px;
    max-width: calc(100% - 20px);
  }

  .cookie-icon {
    right: 5px;
    bottom: -5px;
  }

}