.nav-link{
    font-size: 20px !important;
}

.navbar-scrolled {
    background-color: #eff5f3 !important;
    box-shadow: 0px 7px 20px 19px rgb(0 0 0 / 24%);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.navbar-transparent {
    /* background-color: transparent !important; */
    background-color: var(--background-secondary-alt);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.vr {
    /* border-left: 5px solid var(--primary); */
    border-radius: 2px;
    margin: 0 10px;
    width: 2px !important;
    background-color: var(--primary) !important;
}

.nav-link.active {
    color: var(--primary) !important;
}

