
.hero-intro {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  /* min-width: 70vw; */
}

.hero-video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero-marquee {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.116); /* Dark overlay for better text visibility */
  z-index: 1;
}

.hero-text{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--sidebar-primary);
  }

  .intro-card{
    max-width: 350px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    background: #00000017; /* Transparent white background */
    backdrop-filter: blur(3px); /* Blur effect */
    border-radius: 0.5rem; /* Rounded corners */
    color: #eeeeee;
  }

  .intro-card-icon{
    width: 50px;
  }