.hero-intro {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.hero-video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero-marquee {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.116); /* Dark overlay for better text visibility */
  z-index: 0;
}

.hero-text{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--sidebar-primary);
  }