.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.068);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0.5;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #3030302a;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
