/* NewsletterSection.css */
.newsletter-section {
    background-color: var(--background);
    padding: 2rem;
    text-align: center;
}

.newsletter-section .container {
    max-width: 600px;
    margin: 0 auto;
}

.newsletter-section h2 {
    font-size: 2rem;
    font-weight: 100;
    text-align: start;
    color: #003D3D;
}


@media (min-width: 768px) {
    .newsletter-section h2 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .newsletter-section h2 {
        font-size: 5rem;
    }
}

.newsletter-section p {
    font-size: 1rem;
    color: #003D3D;
    text-align: start;
    margin-bottom: 1.5rem;
}

.newsletter-section form.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-holder {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.newsletter-section input[type="email"] {
    padding: 0.75rem;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    flex: 1;
    width: 100%;
}

.newsletter-section input[type="email"]:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem #119d6033;
}

.newsletter-section button[type=submit] {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.60rem 1.5rem;
    border-radius: 50px;
    background-color: var(--primary);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.newsletter-section .consent {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #003D3D;
    display: flex;
    align-items: flex-start;
}

.newsletter-section .consent input {
    margin-right: 0.5rem;
}

.newsletter-section input[type="checkbox"] {
    accent-color: var(--primary);
    height: 20px;
    width: 20px;
    line-height: 1;
}

.newsletter-section label {
    font-size: 1.1rem;
}


.card-holder {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 0.75rem;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Smooth hover effects */
}