/* ParallaxImageSection.css */
.parallax-image-section {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.parallax-text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  z-index: 2;
  color: #fff;
  /* background-color: #14363f81; */
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
  max-width: 500px;
}

.text-overlay {
  background-color: #88e3a71f;
}


.text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.text p {
  font-size: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #245e3794;
    z-index: 1;
}