.toast-container {
    position: fixed !important;
    top: 80px;
    right: 15px;
    z-index: 1050;
}

.toast-container .toast .toast-header {
    background-color: var(--primary-dark);
    color: var(--primary-lightest);
    border-bottom: 1px solid var(--bs-border-color);
}

.toast-container .toast.toast-danger .toast-header {
    background-color: var(--danger);
    color: var(--danger-foreground);
}

.toast-container .toast .toast-body {
    background-color: var(--primary-lightest);
    color: var(--primary-dark);
}