.nav-link {
    font-size: 20px !important;
}

.navbar-scrolled {
    background-color: #eff5f3 !important;
    box-shadow: 0px 7px 20px 10px #68686817;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-transparent {
    /* background-color: transparent !important; */
    background-color: var(--background-secondary-alt);
    transition: background-color 0.3s, box-shadow 0.3s;
} 
.navbar{
    transition: transform 0.3s, opacity 0.3s;
}
.navbar.nav-invisible {
    transform: translateY(-100%);
    opacity: 0;
}
.navbar.nav-visible {
    transform: translateY(0);
    opacity: 1;
}

.vr {
    /* border-left: 5px solid var(--primary); */
    border-radius: 2px;
    margin: 0 10px;
    width: 2px !important;
    background-color: var(--primary) !important;
}

.nav-link.active {
    color: var(--primary) !important;
}

/* Logo intro animation */
.navbar-brand{
    position: relative;
    /* overflow: hidden; */
}
.navbar-brand::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -100px;
    height: 100%;
    width: 154px;
    background: #f4f6f0;
}

.navbar-brand .logo-txt {
    /* transform: translate(0px, 0); */
    transform: translateX(-120px);
    z-index: -2;
    animation: identifier 1.5s ease-out forwards;
    /* opacity: 0; */
    animation-delay: .5s;
}


@keyframes identifier {
    0% {
        transform: translateX(-120px);
        /* opacity: 0; */
    }
    100% {
        transform: translateX(0);
        /* opacity: 1; */
    }
}
/* Logo intro animation */