/* Footer Styles */
/* footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
  z-index: -1;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  margin-top: 100%;
} */
footer {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  /* position: fixed; */
  inset: auto 0 0;
  /* z-index: -1; */
  /* max-height: 100svh; */
  padding: 2.5rem 0 5rem;
  overflow: hidden auto;
  background: #eff5f3;
}


footer h5 {
  color: #14363f;
  font-size: 1.8rem;
}

footer p {
  color: #14363f;
  font-size: 1.1rem;
}

footer ul li {
  color: #14363f;
  transition: color 0.3s ease;
}

footer ul li:hover {
  color: var(--primary)
}

footer a {
  color: #14363f;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease, color 0.3s ease;
}

footer a:hover {
  color: var(--bs-primary);
  transform: scale(1.1);
}

footer .btn-outline-light {
  border-color: #14363f;
  color: #14363f;
}

footer .btn-outline-light:hover {
  background-color: var(--bs-light);
  color: var(--primary);
  transition: all 0.3s ease, color 0.3s ease;
}

.decoration-21-img {
  position: absolute;
  padding: 20px;
  width: 350px;
  height: auto;
}